@font-face {
  font-family: 'iconfont';  /* project id 658916 */
  src: url('//at.alicdn.com/t/font_658916_7e8nb2iey5x.eot');
  src: url('//at.alicdn.com/t/font_658916_7e8nb2iey5x.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_658916_7e8nb2iey5x.woff') format('woff'),
  url('//at.alicdn.com/t/font_658916_7e8nb2iey5x.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_658916_7e8nb2iey5x.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e698";
}

.icon-check:before {
  content: "\e655";
}

.icon-shouhuodizhi:before {
  content: "\e64e";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-geren:before {
  content: "\e657";
}

.icon-edit:before {
  content: "\e606";
}

.icon-weixinzhifu:before {
  content: "\e658";
}

.icon-guanbi:before {
  content: "\e624";
}

.icon-jiahao:before {
  content: "\e616";
}

.icon-jianhao:before {
  content: "\e617";
}
